<ion-view title="Admin Profile" hide-nav-bar="false" id="adminProfile">
  <ion-content padding="true" style="background: url(img/2Ktc2NiSTEWpiWhf8vqi_phone-1052023_1920.jpg) no-repeat center;background-size:cover;" class="has-header">

            <ion-card>
          <img height="500px" width="500px" class="img-thumbnail"  src="img/Teady.jpg">
          <ion-card-content>
            <div style="font-size:15px;">
                <form id="user" class="list">
                  <label class="item item-input" >
                    <span class="input-label">User Name</span>
                    <input type="text"  ng-model="Users.profile.name">
                  </label>
                  <label class="item item-input" >
                    <span class="input-label">User id</span>
                    <input type="text"  ng-model="Users.profile.rollNo" disabled>
                  </label>
                  <label class="item item-input" >
                    <span class="input-label">Email</span>
                    <input type="text"  ng-model="Users.emails[0].address">
                  </label>
                  <label class="item item-input" >
                    <span class="input-label">mobileNo</span>
                    <input type="text"  ng-model="Users.profile.mobileNo">
                  </label>
                </form>
              </div>
                  </ion-card-content>
                </ion-card>

                <button id="myProfile-button37" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-edit"> Update profile</button>
                <button ng-click="logout()" id="myProfile-button38" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-log-out"> Logout</button>
                  <button ui-sref="adminTabsController.borrowingBooks()" id="myProfile-button38" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-ios-close-outline"> Cancel</button>
  </ion-content>
</ion-view>
