<ion-view title="My Profile" hide-nav-bar="false" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding ">

        <ion-card>
      <img height="500px" width="500px" class="img-thumbnail"  src="img/Teady.jpg">
      <ion-card-content>
        <div style="font-size:15px;">
          <ul class="list-group">
                <li class="list-group-item">  <h2>Name: Keshav</h2></li>
                <li class="list-group-item">  <p>ID: <b>412714104031</b></p></li>
                <li class="list-group-item"><p>Email: <b>abc@gmail.com</b></p></li>
                <li class="list-group-item"><p>mobileNo: <b>9874563210</b></p></li>
            </ul>
          </div>
              </ion-card-content>
            </ion-card>

            <button id="myProfile-button37" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-edit"> Update profile</button>
            <button ng-click="logout()" id="myProfile-button38" style="border-radius:17px 17px 17px 17px;" class="button button-positive button-block icon ion-log-out"> Logout</button>
          </ion-content>
        </ion-view>
