<ion-view  title="wishList" hide-nav-bar="false" >
  <ion-content padding="true" class="manual-ios-statusbar-padding">
            <button type="button" ng-click="navigate()" id="bookDetails2-button34"  class="btn btn-primary btn-lg mb-3  icon ion-ios-close"> Cancel</button>
    <div class="card card-inverse card-primary mb-3" ng-repeat="Book in Books">
  <h3 class="card-header">{{Book.name}}</h3>
  <div class="card-block">
     <div class="row">
       <div class="col-md-1 col-sm-1">
         <img height="200px" width="200px" class="img-thumbnail"  src="img/bookParticles.jpg">
       </div>
       <div class="col-md-11 col-sm-11">
         <h4 class="card-title">BookId: <b>{{Book.book_id}}</b></h4>
    <p class="card-text">Author: <b>{{Book.author}}</b></p>
    <a href="#" class="btn btn-primary  btn-lg" ng-click="removeWish()" ui-sref="tabsController.detailsOfBook({bookid: Book._id})" >  Availble</a>
       </div>
     </div>
  </div>
</div>
  </ion-content>
</ion-view>
